
@font-face {
    font-family: roboto_read;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: roboto_head;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
p, section, article, span, input[type="text"],
select,
input[type="submit"],
textarea{
    font-family: roboto_read, "Verdana";
}
li a, a, h1, h2,h3, h4,h5,h6,bold,label
{
     font-family: roboto_head, "Verdana";
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

.cards {
  float: right;
}

#deck {
  list-style: none;
}